body {
    margin: 0;
    padding: 0;

    background-image: url(sobres.es.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

input#newsletter-close-button:checked + #newsletter-parent {
    visibility: hidden;
    transition: opacity 500ms;
    opacity: 0;
}

input#newsletter-close-button:not(:checked) + #newsletter-parent {

    /* display: none; */
    opacity: 1;
}

input#newsletter-close-button:not(:checked) + #newsletter-parent .newsletter-bg {
    transition: opacity 500ms;
    background-color: black;
    opacity: .5;
}

input#newsletter-close-button:checked + #newsletter-parent #newsletter-pop-up {
    transform: scale(.9);
}

input#newsletter-close-button:not(:checked) + #newsletter-parent #newsletter-pop-up {
    transform: scale(1);

    transition: transform 500ms;
}

.newsletter-bg,
#newsletter-parent {
    position: absolute;
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    --general-padding: 20px;
    --blue: #25B9FF;

    z-index: 999;
}

.newsletter-bg {
    background-color: transparent;
    opacity: 0;
}

#newsletter-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

#newsletter-pop-up {
    max-width: 700px;
    width: 700px;

    max-height: 90%;

    position: absolute;

    overflow-y: auto;

    background-color: white;

    margin: 20px;
    font-family: Roboto,sans-serif;

    position: relative;

    z-index: 999;
}

.newsletter-header {
    background-image: url(https://mediacdn.espssl.com/10024/Shared/MVMT/Popup/US/prebf_pop_up_desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 100%;
    height: 180px;

    padding: var(--general-padding);
    box-sizing: border-box;
}

.newsletter-header label[for="newsletter-close-button"] {
    float: right;

    transition: opacity 400ms;
}

.newsletter-header label[for="newsletter-close-button"]:hover {
    cursor: pointer;
    opacity: .7;
}

.newsletter-offer {
    color: var(--blue);
    font-weight: bolder;
}

.newsletter-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    padding: var(--general-padding);
    box-sizing: border-box;
    font-size: 1rem;
}

.newsletter-main h2 {
    text-transform: uppercase;
    font-size: 1.5em;
    word-spacing: 2px;
    margin: 0;
    text-align: center;
}

.newsletter-main p {
    margin: 15px 20px 25px 20px;
    font-weight: 600;
    font-size: .8em;
    letter-spacing: 1.4px;
    text-align: center;
}

.newsletter-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#newsletter-email {
    width: 50%;
    padding: 0 20px 0 20px;
    border: 3px solid black;
    box-sizing: border-box;

    height: 45px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1.4px;
}

#newsletter-email:focus {
    border: 3px solid var(--blue);
    outline: none;
}

#newsletter-submit {
    padding: 0 20px 0 20px;
    border: 0;
    margin: 0;
    background-color: var(--blue);
    border: 3px solid;
    border-color: var(--blue);
    box-sizing: border-box;

    color: white;
    font-weight: bolder;
    font-size: 1em;

    height: 45px;
    letter-spacing: 1px;
    --transition-time: 400ms;
}

#newsletter-submit:not(:hover) {
    transition: background-color var(--transition-time) ease, 
                border-color var(--transition-time) ease;
}

#newsletter-submit:hover {
    cursor: pointer;

    transition: background-color var(--transition-time) ease, 
                border-color var(--transition-time) ease;
    background-color: black;
    border-color: black;
}

.newsletter-maybe-later {
    background-color: transparent;
    border: 0;
    outline: none;

    margin: 30px 0 20px 0;
    color: black;

    text-decoration: underline;
}

.newsletter-maybe-later label {
    cursor: pointer;
    font-weight: 600;
    font-size: .7em;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.newsletter-maybe-later:hover {
    text-decoration: none;
}

@media (max-width: 700px) {
    .newsletter-form {
       flex-direction: column;
    }

    #newsletter-email {
        width: 100%;
        margin-bottom: 10px;
    }

    .newsletter-form input {
        width: 100%;
    }
}